#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: $bg-color;

  .navbar {
    height: 126px;
  }
}

footer {
  height: 243px;
  background-color: $bg-color;
}
